<!DOCTYPE html>
<html lang="zh-cmn-Hans">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Welcome to Yu chen Homepage!</title>
        <meta name="author" content="ansheng"/>
        <meta name="description" content="Welcome to Yuchen's personal Homepage!"/>
        <meta name="keywords" content="余晨"/>
      
        <link rel="stylesheet" href="static/index/css/main.css">
    </head>

    <body>
        <div id="bg"></div>
        <div class="main clearfix">
            <div class="profile">
                <div class="profile-image"></div>
                <div class="profile-inner">
                    <a href="index.html" class="profile-logo">
                             <img src="static/index/images/avatar.jpg" alt="Logo">
                    </a>
                    <h1 class="profile-title">
                        <a href="/"><!--
                          --><span style="color:#4285f4">Y</span><!--
                          --><span style="color:#444444">u</span><!--
                          --><span style="color:#ea4335">C</span><!--
                          --><span style="color:#fbbc05">h</span><!--
                          --><span style="color:#4285f4">e</span><!--
                          --><span style="color:#555555">n</span><!--

                          --><span style="color:#fbbc05"></span></a>
                    </h1>
                    <p class="profile-description">Great time!</p>
                    <div class="links">
                        <a href="/blog"  title="Blog">青春Blog</a>
                         <a href="/person"  title="个人空间">个人空间</a>
                        <a href="http://github.com/yubenliu99"  title="Blog">GitHub</a>

                        <a href="http://www.cnblogs.com/yubenliu/"   title="About">博客园</a>
                    </div>
                </div>
            </div>
            <footer id="footer">
                <section class="copyright">&copy; 2016  <a href="、" target="_blank">yuchen</a> . <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">皖ICP备16022941号-1</a></section>
            </footer>
        </div>
    </body>
</html>
